Repository cryptoeconomicslab/plasma-rust-framework, pull requests merged in 2019-09, with the labels that each got.

#228 Use session instead of secret key #224
  clients/examples/plasma_client.rs
  clients/examples/plasma_client_cli.rs
  clients/examples/plasma_client_server.rs
  clients/src/plasma/plasma_client.rs
  clients/src/plasma/wallet_manager.rs
Labels: client, enhancement

#220 Api endpoints
  clients/examples/plasma_client.rs
  clients/examples/plasma_client_cli.rs
  clients/examples/plasma_client_server.rs
  clients/src/plasma/block_db.rs
  clients/src/plasma/block_manager.rs
  clients/src/plasma/error.rs
  clients/src/plasma/plasma_aggregator.rs
  clients/src/plasma/plasma_block.rs
  clients/src/plasma/plasma_client.rs
  clients/src/plasma/state_db.rs
  core/src/data_structure.rs
  core/src/data_structure/metadata.rs
  core/src/data_structure/range.rs
  core/src/data_structure/transaction.rs
  ovm/src/db.rs
  ovm/src/db/transaction_db.rs
  ovm/src/db/transaction_filter.rs
  ovm/src/statements/plasma.rs
  ovm/src/types/core.rs
  ovm/src/types/state_update.rs
Labels: client, enhancement

#222 Add channel on Plasma property
  clients/examples/plasma_client.rs
  clients/examples/plasma_client_cli.rs
  clients/examples/plasma_client_server.rs
  clients/src/plasma/plasma_client.rs
Labels: client, enhancement, ovm

#251 Add deposit contract address to checkpoint property #250
  clients/src/plasma/plasma_client.rs
  ovm/src/db/range_at_block_db.rs
  ovm/src/deciders/included_at_block_decider.rs
  ovm/src/lib.rs
  ovm/src/quantifiers/block_range_quantifier.rs
  ovm/src/statements/plasma.rs
Labels: bug
